<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trucks</title>
</head>
<body>
<table ng-table="orders.tableParams" class="table" show-filter="true">
    <tr ng-repeat="order in $data">
        <td title="'Id'" filter="{ id: 'text'}" sortable="'id'">
            {{order.id}}</td>
        <td title="'Quantity'" filter="{ quantity: 'text'}" sortable="'quantity'">
            {{order.quantity}}</td>
        <td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
            {{order.status}}</td>
        <td> <button ng-click="orders.removeOrder(order.id)">Delete</button></td>
    </tr>
</table>
<div>
    <button ng-click="$scope.showAddForm=true;">Add</button>
</div>
<div ng-if=$scope.showAddForm>
    <div>
        <label>Quantity:
            <input type="text" name="quantity" ng-model="quantity">
        </label>
    </div>
    <button ng-click="orders.saveNewOrder(quantity)">Save</button>
</div>
</body>
</html>